<div class=" content">
    <div class=" row">
        <div class=" col-md-8">
            <div class=" card">
                <div class=" card-header">
                    <h2 class=" title">Editar Datos de Salud</h2>
                </div>
                <div class=" card-body">
                    <!--desde aqui empieza el formulario-->
                    <form [formGroup]="editarSalud" (ngSubmit)="submit()">
                        <div class=" row">
                            <div class=" col-md-3 pr-md-1">
                                <div class=" form-group">
                         <label for="estadosalud"> Estado de Salud </label>
                                <select formControlName="estadosalud" class="form-control" #e (change)="estadodesalud(e.value)"
                                 [(ngModel)]="salud.estadosalud" name="estadosalud" id="estadosalud">
                                 <option value="San@">San@</option>
                                 <option value="Enferm@">Enferm@</option>
                                </select>
                                </div>
                            </div>
                           
                        </div>
                        <div *ngIf="essalud">
                            <div [formGroup]="agregarDiscapacidad">
                            <div class=" col-md-5 px-md-1">
                                    <div class=" form-group">
                                        <label for="detalleenfermedad"> Detalle de Enfermedad </label>
                                        <input [(ngModel)]="salud.detalleenfermedad" formControlName="detalleenfermedad" id="detalleenfermedad" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class=" col-md-2 px-md-1">
                                <div class=" form-group">
                                    <label for="medicacion"> Medicación </label>
                                    <select formControlName="medicacion" class="form-control" #m 
                                     [(ngModel)]="salud.medicacion" name="medicacion" id="medicacion">
                                     <option value=true>Si</option>
                                     <option value=false>No</option>
                                    </select>
                                </div>
                            </div>
                            <div class=" col-md-4 px-md-1">
                                <div class=" form-group">
                                    <label for="adolescenteperdiodogestacion">Adolescente en período de gestación </label>
                                    <select formControlName="adolescenteperdiodogestacion" class="form-control" #m 
                                     [(ngModel)]="salud.adolescenteperdiodogestacion" name="adolescenteperdiodogestacion" id="adolescenteperdiodogestacion">
                                     <option value=true>Si</option>
                                     <option value=false>No</option>
                                    </select>
                                </div>
                            </div>
                            <div class=" col-md-4 px-md-1">
                                <div class=" form-group">
                                    <label for="algunadiscapacidad"> ¿Alguna discapacidad? </label>
                                    <select formControlName="algunadiscapacidad" class="form-control" #d (change)="discapacidad(d.value)"
                                     [(ngModel)]="salud.algunadiscapacidad" name="algunadiscapacidad" id="algunadiscapacidad">
                                     <option value=true>Si</option>
                                     <option value=false>No</option>
                                    </select>
                                </div>
                            </div>
                            <div *ngIf="disc">
                                <div class="row">
                                <div class=" col-md-4">
                                    <div class=" form-group">
                                        <label for="tipodiscapacidad"> Tipo de Discapacidad </label>
                                        <input [(ngModel)]="salud.tipodiscapacidad" formControlName="tipodiscapacidad" id="tipodiscapacidad" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class=" col-md-4">
                                    <div class=" form-group">
                                        <label for="porcentajediscapacidad"> Porcentaje de Discapacidad </label>
                                        <input [(ngModel)]="salud.porcentajediscapacidad" formControlName="porcentajediscapacidad" id="porcentajediscapacidad" type="number" class="form-control">
                                    </div>
                                </div>      
                                <div class=" col-md-4">
                                    <div class=" form-group">
                                        <label for="numerocarnet"> Número de Carnet de Discapacidad </label>
                                        <input [(ngModel)]="salud.numerocarnet" formControlName="numerocarnet" id="numerocarnet" type="text" class="form-control">
                                    </div>
                                </div>      
                            </div>   
                            </div>
                        </div>
                        <div class=" card-footer">
                            <button class=" btn btn-round btn-danger" type="submit" [routerLink]="['/salud']">Cancelar</button>
                            &nbsp;&nbsp;
                            <button class=" btn btn-round btn-warning"class="btn btn-secondary" type="submit">Guardar</button>
                        </div>
                    </form>
                </div>
               
            </div>
        </div>

        <!--aqui empieza el panel informativo de la derecha-->
        <div class=" col-md-4">
            <div class=" card card-user">
                <div class=" card-body">
                    <p class=" card-text"></p>
                    <div class=" author">
                        <div class=" block block-one"></div>
                        <div class=" block block-two"></div>
                        <div class=" block block-three"></div>
                        <div class=" block block-four"></div>
                        <a href="javascript:void(0)">
                            <img alt="..." class=" avatar" src="assets/colibriRegistro.png" />
                            <h5 class=" title">Fundacion Alas Del Colibri</h5>
                        </a>
                        <p class=" description"> <b>¡IMPORTANTE!</b> </p>
                    </div>
                    <div class=" card-description">
                        No todos los datos son obligatorios, pero se recomienda
                        poner al menos un nombre y apellido.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Cargando.. </p>
</ngx-spinner>