USE [FundacionColibri]
GO
/****** Object:  Table [dbo].[Canton]    Script Date: 05/04/2021 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Canton](
	[idCanton] [int] NOT NULL,
	[descripcionCanton] [nvarchar](max) NULL,
	[idProvincia] [int] NULL,
 CONSTRAINT [PK_idCantones] PRIMARY KEY CLUSTERED 
(
	[idCanton] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CasaAcogimiento]    Script Date: 05/04/2021 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CasaAcogimiento](
	[idNombreCasaAnterior] [int] NOT NULL,
	[descripcionCasaAcogimiento] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CasaAcogimiento] PRIMARY KEY CLUSTERED 
(
	[idNombreCasaAnterior] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatosJudicialPenal]    Script Date: 05/04/2021 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatosJudicialPenal](
	[idJudicialPenal] [uniqueidentifier] NOT NULL,
	[idPersona] [uniqueidentifier] NULL,
	[idMedida] [int] NULL,
	[idProvincia] [int] NULL,
	[NºCausaAcogimiento] [nvarchar](150) NULL,
	[unidadJudicial] [nvarchar](150) NULL,
	[idCanton] [int] NULL,
	[idNudosCriticos] [int] NULL,
	[ExisteCausaPenal] [bit] NULL,
	[encuentraInsert@SPAVT] [bit] NULL,
	[idInfraccionDenunciada] [int] NULL,
	[DescripcionDelito] [nvarchar](max) NULL,
	[NºCasoFiscalia] [nvarchar](50) NULL,
	[NºProcesoPenaleSatje] [nvarchar](50) NULL,
	[idEstadoProcesal] [int] NULL,
	[egresoPorReinsercion] [bit] NULL,
	[fechaReinsercion] [date] NULL,
	[fechaEgreso] [date] NULL,
	[fechaResolucionTraslado] [date] NULL,
	[unidadTraslado] [nvarchar](max) NULL,
	[fechaSalidaUnidadActual] [date] NULL,
	[observacion] [nvarchar](max) NULL,
 CONSTRAINT [PK_DatosJudicialPenal] PRIMARY KEY CLUSTERED 
(
	[idJudicialPenal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatosSalud]    Script Date: 05/04/2021 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatosSalud](
	[idDatosSalud] [uniqueidentifier] NOT NULL,
	[idPersona] [uniqueidentifier] NULL,
	[estadoSalud] [nchar](15) NULL,
	[detalleEnfermedad] [nvarchar](120) NULL,
	[medicacion] [bit] NULL,
	[adolescentePerdiodoGestacion] [bit] NULL,
	[algunaDiscapacidad] [bit] NULL,
	[tipoDiscapacidad] [nvarchar](50) NULL,
	[porcentajeDiscapacidad] [nvarchar](6) NULL,
	[numeroCarnet] [nvarchar](40) NULL,
 CONSTRAINT [PK_DatosSalud] PRIMARY KEY CLUSTERED 
(
	[idDatosSalud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoProcesal]    Script Date: 05/04/2021 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoProcesal](
	[idEstadoProcesal] [int] NOT NULL,
	[descripcionProcesal] [nvarchar](50) NULL,
 CONSTRAINT [PK_EstadoProcesal] PRIMARY KEY CLUSTERED 
(
	[idEstadoProcesal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Etnia]    Script Date: 05/04/2021 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etnia](
	[idEtnia] [int] NOT NULL,
	[descripcionEtnia] [nvarchar](50) NULL,
 CONSTRAINT [PK_Etnia] PRIMARY KEY CLUSTERED 
(
	[idEtnia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamiliarReferente]    Script Date: 05/04/2021 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliarReferente](
	[idFamiliarReferente] [int] NOT NULL,
	[descripcionFamiliarReferente] [nvarchar](50) NULL,
 CONSTRAINT [PK_FamiliarReferente] PRIMARY KEY CLUSTERED 
(
	[idFamiliarReferente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genero]    Script Date: 05/04/2021 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genero](
	[idGenero] [int] NOT NULL,
	[descripcionGenero] [nvarchar](50) NULL,
 CONSTRAINT [PK_Genero] PRIMARY KEY CLUSTERED 
(
	[idGenero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialCronologico]    Script Date: 05/04/2021 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialCronologico](
	[idHistorial] [uniqueidentifier] NOT NULL,
	[idPersona] [uniqueidentifier] NULL,
	[estuboAcogimiento] [bit] NULL,
	[idNombreCasaAnterior] [int] NULL,
	[fechaEgreso] [date] NULL,
	[fechaIngreso] [date] NULL,
 CONSTRAINT [PK_HistorialCronologico] PRIMARY KEY CLUSTERED 
(
	[idHistorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InfraccionDenunciada]    Script Date: 05/04/2021 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfraccionDenunciada](
	[idInfraccionDenunciada] [int] NOT NULL,
	[descripcionInfraccionDenuncia] [nvarchar](50) NULL,
 CONSTRAINT [PK_InfraccionDenunciada] PRIMARY KEY CLUSTERED 
(
	[idInfraccionDenunciada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medida]    Script Date: 05/04/2021 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medida](
	[idMedida] [int] NOT NULL,
	[descripcionMedida] [nvarchar](50) NULL,
 CONSTRAINT [PK_Medida] PRIMARY KEY CLUSTERED 
(
	[idMedida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modalidad]    Script Date: 05/04/2021 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modalidad](
	[idModalidad] [int] NOT NULL,
	[descripcionModalidad] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Modalidad] PRIMARY KEY CLUSTERED 
(
	[idModalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MotivoIngreso]    Script Date: 05/04/2021 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MotivoIngreso](
	[idMotivoIngreso] [int] NOT NULL,
	[descripcionMotivoIngreso] [nvarchar](50) NULL,
 CONSTRAINT [PK_MotivoIngreso] PRIMARY KEY CLUSTERED 
(
	[idMotivoIngreso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nacionalidad]    Script Date: 05/04/2021 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nacionalidad](
	[idNacionalidad] [int] NOT NULL,
	[descripcionNacionalidad] [nvarchar](50) NULL,
 CONSTRAINT [PK_Nacionalidad] PRIMARY KEY CLUSTERED 
(
	[idNacionalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NivelAcademico]    Script Date: 05/04/2021 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NivelAcademico](
	[idNivelAcademico] [int] NOT NULL,
	[descripcionAcademico] [nvarchar](50) NULL,
 CONSTRAINT [PK_idNivelAcademico] PRIMARY KEY CLUSTERED 
(
	[idNivelAcademico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NudosCriticos]    Script Date: 05/04/2021 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NudosCriticos](
	[idNudosCriticos] [int] NOT NULL,
	[descripcionNudosCriticos] [nvarchar](max) NULL,
 CONSTRAINT [PK_NudosCriticos] PRIMARY KEY CLUSTERED 
(
	[idNudosCriticos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizacion]    Script Date: 05/04/2021 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizacion](
	[idOrganizacion] [int] NOT NULL,
	[descripcionOrganizacion] [nvarchar](max) NULL,
 CONSTRAINT [PK_organizacion] PRIMARY KEY CLUSTERED 
(
	[idOrganizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parroquia]    Script Date: 05/04/2021 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parroquia](
	[idParroquia] [int] NOT NULL,
	[descripcionParroquia] [nvarchar](max) NULL,
	[idCanton] [int] NULL,
 CONSTRAINT [PK_Parroquia] PRIMARY KEY CLUSTERED 
(
	[idParroquia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 05/04/2021 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[idPersona] [uniqueidentifier] NOT NULL,
	[idOrganizacion] [int] NULL,
	[idModalidad] [int] NULL,
	[nombres] [nvarchar](50) NULL,
	[apellidos] [nvarchar](50) NULL,
	[nombreCompleto] [nvarchar](100) NULL,
	[telefono] [nvarchar](15) NULL,
	[documentoIdentidad] [nvarchar](20) NULL,
	[idGenero] [int] NULL,
	[idEtnia] [int] NULL,
	[idNacionalidad] [int] NULL,
	[fechaNacimiento] [date] NULL,
	[fechaRegistro] [datetime] NULL,
	[edad] [nchar](3) NULL,
	[idProvincia] [int] NULL,
	[idCanton] [int] NULL,
	[idParroquia] [int] NULL,
	[barrio] [nvarchar](max) NULL,
	[direccion] [nvarchar](120) NULL,
	[fechaDeIngresoUnidadAtencion] [date] NULL,
	[edadIngreso] [nvarchar](10) NULL,
	[tiempoPermanenciaAños] [varchar](50) NULL,
	[idMotivoIngreso] [int] NULL,
 CONSTRAINT [PK_Persona] PRIMARY KEY CLUSTERED 
(
	[idPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PGF]    Script Date: 05/04/2021 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PGF](
	[idPGF] [uniqueidentifier] NOT NULL,
	[idPeronsa] [uniqueidentifier] NULL,
	[idFamiliarReferente] [int] NULL,
	[nombreFamiliar] [nvarchar](50) NULL,
	[idProvincia] [int] NULL,
	[idCanton] [int] NULL,
	[Direccion] [nvarchar](max) NULL,
	[telefono] [nchar](15) NULL,
	[NNA_insertoSistemaEducativo] [bit] NULL,
	[idNivelAcademico] [int] NULL,
 CONSTRAINT [PK_PGF] PRIMARY KEY CLUSTERED 
(
	[idPGF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 05/04/2021 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[idProvincia] [int] NOT NULL,
	[descripcionProvincia] [nvarchar](max) NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[idProvincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Canton] ([idCanton], [descripcionCanton], [idProvincia]) VALUES (1, N'Cuenca', 1)
INSERT [dbo].[Canton] ([idCanton], [descripcionCanton], [idProvincia]) VALUES (2, N'Girón', 1)
INSERT [dbo].[Canton] ([idCanton], [descripcionCanton], [idProvincia]) VALUES (3, N'Gualaceo', 1)
GO
INSERT [dbo].[CasaAcogimiento] ([idNombreCasaAnterior], [descripcionCasaAcogimiento]) VALUES (1, N'No aplica')
INSERT [dbo].[CasaAcogimiento] ([idNombreCasaAnterior], [descripcionCasaAcogimiento]) VALUES (2, N'Aldeas SOS Quito')
INSERT [dbo].[CasaAcogimiento] ([idNombreCasaAnterior], [descripcionCasaAcogimiento]) VALUES (3, N'Aldeas SOS Imbabura')
GO
INSERT [dbo].[EstadoProcesal] ([idEstadoProcesal], [descripcionProcesal]) VALUES (1, N'Noticia del delito')
INSERT [dbo].[EstadoProcesal] ([idEstadoProcesal], [descripcionProcesal]) VALUES (2, N'nvestigación previa')
INSERT [dbo].[EstadoProcesal] ([idEstadoProcesal], [descripcionProcesal]) VALUES (3, N'Instrucción fiscal')
GO
INSERT [dbo].[Etnia] ([idEtnia], [descripcionEtnia]) VALUES (1, N'Afroecuatoriana')
INSERT [dbo].[Etnia] ([idEtnia], [descripcionEtnia]) VALUES (2, N'Indígena')
INSERT [dbo].[Etnia] ([idEtnia], [descripcionEtnia]) VALUES (3, N'Mestiza')
GO
INSERT [dbo].[FamiliarReferente] ([idFamiliarReferente], [descripcionFamiliarReferente]) VALUES (1, N'Madre')
INSERT [dbo].[FamiliarReferente] ([idFamiliarReferente], [descripcionFamiliarReferente]) VALUES (2, N'Padre')
INSERT [dbo].[FamiliarReferente] ([idFamiliarReferente], [descripcionFamiliarReferente]) VALUES (3, N'Familia Nuclear (papá y mamá)')
GO
INSERT [dbo].[Genero] ([idGenero], [descripcionGenero]) VALUES (1, N'Masculino')
INSERT [dbo].[Genero] ([idGenero], [descripcionGenero]) VALUES (2, N'Femenino')
INSERT [dbo].[Genero] ([idGenero], [descripcionGenero]) VALUES (3, N'')
GO
INSERT [dbo].[InfraccionDenunciada] ([idInfraccionDenunciada], [descripcionInfraccionDenuncia]) VALUES (1, N'violencia Sexual')
INSERT [dbo].[InfraccionDenunciada] ([idInfraccionDenunciada], [descripcionInfraccionDenuncia]) VALUES (2, N'Violencia Física')
INSERT [dbo].[InfraccionDenunciada] ([idInfraccionDenunciada], [descripcionInfraccionDenuncia]) VALUES (3, N'Violencia psicológica')
GO
INSERT [dbo].[Medida] ([idMedida], [descripcionMedida]) VALUES (1, N'Juducial')
INSERT [dbo].[Medida] ([idMedida], [descripcionMedida]) VALUES (2, N'Administrativa')
INSERT [dbo].[Medida] ([idMedida], [descripcionMedida]) VALUES (3, N'Sin Medida')
GO
INSERT [dbo].[Modalidad] ([idModalidad], [descripcionModalidad]) VALUES (1, N'Custodia Familiar')
INSERT [dbo].[Modalidad] ([idModalidad], [descripcionModalidad]) VALUES (2, N'Acogimiento Familiar')
INSERT [dbo].[Modalidad] ([idModalidad], [descripcionModalidad]) VALUES (3, N'Acogimiento Institucional')
GO
INSERT [dbo].[MotivoIngreso] ([idMotivoIngreso], [descripcionMotivoIngreso]) VALUES (1, N'Abandono')
INSERT [dbo].[MotivoIngreso] ([idMotivoIngreso], [descripcionMotivoIngreso]) VALUES (2, N'Abuso Sexual')
INSERT [dbo].[MotivoIngreso] ([idMotivoIngreso], [descripcionMotivoIngreso]) VALUES (3, N'Callejización')
GO
INSERT [dbo].[Nacionalidad] ([idNacionalidad], [descripcionNacionalidad]) VALUES (1, N'Ecuatoriana')
INSERT [dbo].[Nacionalidad] ([idNacionalidad], [descripcionNacionalidad]) VALUES (2, N'Peruana')
INSERT [dbo].[Nacionalidad] ([idNacionalidad], [descripcionNacionalidad]) VALUES (3, N'Española')
GO
INSERT [dbo].[NivelAcademico] ([idNivelAcademico], [descripcionAcademico]) VALUES (1, N'Inicial I')
INSERT [dbo].[NivelAcademico] ([idNivelAcademico], [descripcionAcademico]) VALUES (2, N'Inicial II')
INSERT [dbo].[NivelAcademico] ([idNivelAcademico], [descripcionAcademico]) VALUES (3, N'Primero de Básica')
GO
INSERT [dbo].[NudosCriticos] ([idNudosCriticos], [descripcionNudosCriticos]) VALUES (1, N'No existen nudos críticos')
INSERT [dbo].[NudosCriticos] ([idNudosCriticos], [descripcionNudosCriticos]) VALUES (2, N'Espera asignación de familia')
INSERT [dbo].[NudosCriticos] ([idNudosCriticos], [descripcionNudosCriticos]) VALUES (3, N'Espera emparentamiento')
GO
INSERT [dbo].[Organizacion] ([idOrganizacion], [descripcionOrganizacion]) VALUES (1, N'No aplica')
INSERT [dbo].[Organizacion] ([idOrganizacion], [descripcionOrganizacion]) VALUES (2, N'Aldeas SOS Quito')
INSERT [dbo].[Organizacion] ([idOrganizacion], [descripcionOrganizacion]) VALUES (3, N'Aldeas SOS Imbabura')
GO
INSERT [dbo].[Parroquia] ([idParroquia], [descripcionParroquia], [idCanton]) VALUES (1, N'Bellavista', 1)
INSERT [dbo].[Parroquia] ([idParroquia], [descripcionParroquia], [idCanton]) VALUES (2, N'Cañaribamba', 1)
INSERT [dbo].[Parroquia] ([idParroquia], [descripcionParroquia], [idCanton]) VALUES (3, N'El Batán', 1)
GO
INSERT [dbo].[Provincia] ([idProvincia], [descripcionProvincia]) VALUES (1, N'Azuay')
INSERT [dbo].[Provincia] ([idProvincia], [descripcionProvincia]) VALUES (2, N'Bolívar')
INSERT [dbo].[Provincia] ([idProvincia], [descripcionProvincia]) VALUES (3, N'Cañar')
GO
ALTER TABLE [dbo].[Canton]  WITH CHECK ADD  CONSTRAINT [FK_Canton_Provincia] FOREIGN KEY([idProvincia])
REFERENCES [dbo].[Provincia] ([idProvincia])
GO
ALTER TABLE [dbo].[Canton] CHECK CONSTRAINT [FK_Canton_Provincia]
GO
ALTER TABLE [dbo].[DatosJudicialPenal]  WITH CHECK ADD  CONSTRAINT [FK_DatosJudicialPenal_EstadoProcesal] FOREIGN KEY([idEstadoProcesal])
REFERENCES [dbo].[EstadoProcesal] ([idEstadoProcesal])
GO
ALTER TABLE [dbo].[DatosJudicialPenal] CHECK CONSTRAINT [FK_DatosJudicialPenal_EstadoProcesal]
GO
ALTER TABLE [dbo].[DatosJudicialPenal]  WITH CHECK ADD  CONSTRAINT [FK_DatosJudicialPenal_InfraccionDenunciada] FOREIGN KEY([idInfraccionDenunciada])
REFERENCES [dbo].[InfraccionDenunciada] ([idInfraccionDenunciada])
GO
ALTER TABLE [dbo].[DatosJudicialPenal] CHECK CONSTRAINT [FK_DatosJudicialPenal_InfraccionDenunciada]
GO
ALTER TABLE [dbo].[DatosJudicialPenal]  WITH CHECK ADD  CONSTRAINT [FK_DatosJudicialPenal_Medida] FOREIGN KEY([idMedida])
REFERENCES [dbo].[Medida] ([idMedida])
GO
ALTER TABLE [dbo].[DatosJudicialPenal] CHECK CONSTRAINT [FK_DatosJudicialPenal_Medida]
GO
ALTER TABLE [dbo].[DatosJudicialPenal]  WITH CHECK ADD  CONSTRAINT [FK_DatosJudicialPenal_NudosCriticos] FOREIGN KEY([idNudosCriticos])
REFERENCES [dbo].[NudosCriticos] ([idNudosCriticos])
GO
ALTER TABLE [dbo].[DatosJudicialPenal] CHECK CONSTRAINT [FK_DatosJudicialPenal_NudosCriticos]
GO
ALTER TABLE [dbo].[DatosJudicialPenal]  WITH CHECK ADD  CONSTRAINT [FK_DatosJudicialPenal_Persona] FOREIGN KEY([idPersona])
REFERENCES [dbo].[Persona] ([idPersona])
GO
ALTER TABLE [dbo].[DatosJudicialPenal] CHECK CONSTRAINT [FK_DatosJudicialPenal_Persona]
GO
ALTER TABLE [dbo].[DatosSalud]  WITH CHECK ADD  CONSTRAINT [FK_DatosSalud_Persona] FOREIGN KEY([idPersona])
REFERENCES [dbo].[Persona] ([idPersona])
GO
ALTER TABLE [dbo].[DatosSalud] CHECK CONSTRAINT [FK_DatosSalud_Persona]
GO
ALTER TABLE [dbo].[HistorialCronologico]  WITH CHECK ADD  CONSTRAINT [FK_HistorialCronologico_CasaAcogimiento] FOREIGN KEY([idNombreCasaAnterior])
REFERENCES [dbo].[CasaAcogimiento] ([idNombreCasaAnterior])
GO
ALTER TABLE [dbo].[HistorialCronologico] CHECK CONSTRAINT [FK_HistorialCronologico_CasaAcogimiento]
GO
ALTER TABLE [dbo].[HistorialCronologico]  WITH CHECK ADD  CONSTRAINT [FK_HistorialCronologico_Persona] FOREIGN KEY([idPersona])
REFERENCES [dbo].[Persona] ([idPersona])
GO
ALTER TABLE [dbo].[HistorialCronologico] CHECK CONSTRAINT [FK_HistorialCronologico_Persona]
GO
ALTER TABLE [dbo].[Parroquia]  WITH CHECK ADD  CONSTRAINT [FK_Parroquia_Canton] FOREIGN KEY([idCanton])
REFERENCES [dbo].[Canton] ([idCanton])
GO
ALTER TABLE [dbo].[Parroquia] CHECK CONSTRAINT [FK_Parroquia_Canton]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_Canton] FOREIGN KEY([idCanton])
REFERENCES [dbo].[Canton] ([idCanton])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_Persona_Canton]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_Etnia] FOREIGN KEY([idEtnia])
REFERENCES [dbo].[Etnia] ([idEtnia])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_Persona_Etnia]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_Genero] FOREIGN KEY([idGenero])
REFERENCES [dbo].[Genero] ([idGenero])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_Persona_Genero]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_Modalidad] FOREIGN KEY([idModalidad])
REFERENCES [dbo].[Modalidad] ([idModalidad])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_Persona_Modalidad]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_MotivoIngreso] FOREIGN KEY([idMotivoIngreso])
REFERENCES [dbo].[MotivoIngreso] ([idMotivoIngreso])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_Persona_MotivoIngreso]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_Nacionalidad] FOREIGN KEY([idNacionalidad])
REFERENCES [dbo].[Nacionalidad] ([idNacionalidad])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_Persona_Nacionalidad]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_Organizacion] FOREIGN KEY([idOrganizacion])
REFERENCES [dbo].[Organizacion] ([idOrganizacion])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_Persona_Organizacion]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_Parroquia] FOREIGN KEY([idParroquia])
REFERENCES [dbo].[Parroquia] ([idParroquia])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_Persona_Parroquia]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_Provincia] FOREIGN KEY([idProvincia])
REFERENCES [dbo].[Provincia] ([idProvincia])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_Persona_Provincia]
GO
ALTER TABLE [dbo].[PGF]  WITH CHECK ADD  CONSTRAINT [FK_PGF_Canton] FOREIGN KEY([idCanton])
REFERENCES [dbo].[Canton] ([idCanton])
GO
ALTER TABLE [dbo].[PGF] CHECK CONSTRAINT [FK_PGF_Canton]
GO
ALTER TABLE [dbo].[PGF]  WITH CHECK ADD  CONSTRAINT [FK_PGF_FamiliarReferente] FOREIGN KEY([idFamiliarReferente])
REFERENCES [dbo].[FamiliarReferente] ([idFamiliarReferente])
GO
ALTER TABLE [dbo].[PGF] CHECK CONSTRAINT [FK_PGF_FamiliarReferente]
GO
ALTER TABLE [dbo].[PGF]  WITH CHECK ADD  CONSTRAINT [FK_PGF_idNivelAcademico] FOREIGN KEY([idNivelAcademico])
REFERENCES [dbo].[NivelAcademico] ([idNivelAcademico])
GO
ALTER TABLE [dbo].[PGF] CHECK CONSTRAINT [FK_PGF_idNivelAcademico]
GO
ALTER TABLE [dbo].[PGF]  WITH CHECK ADD  CONSTRAINT [FK_PGF_Persona] FOREIGN KEY([idPeronsa])
REFERENCES [dbo].[Persona] ([idPersona])
GO
ALTER TABLE [dbo].[PGF] CHECK CONSTRAINT [FK_PGF_Persona]
GO
ALTER TABLE [dbo].[PGF]  WITH CHECK ADD  CONSTRAINT [FK_PGF_Provincia] FOREIGN KEY([idProvincia])
REFERENCES [dbo].[Provincia] ([idProvincia])
GO
ALTER TABLE [dbo].[PGF] CHECK CONSTRAINT [FK_PGF_Provincia]
GO
