<div class=" content">
    <div class=" container-fluid">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card card-plain">
                <div class=" card-header">
                    <h1 class=" card-title">PERSONAS REGISTRADAS </h1>
                </div>

                <div class="card-header">
                    <button class="btn btn-primary float-end" routerLink="/Agregar-Persona">Nuevo Registro</button>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table *ngIf="persona.length > 0" class="table table-striped"
                            class=" table tablesorter">
                            <thead class=" text-primary">
                                <tr>
                                    <th scope="col" >Nombre Completo</th>
                                    <th scope="col">N°Cedula/Pasaporte</th>
                                    <th scope="col">Edad</th>
                                    <th scope="col"></th>
                                    <th scope="col">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of persona">
                                    <td>{{ p.nombreCompleto }}</td>
                                    <td>{{ p.documentoIdentidad }}</td>
                                    <td>{{ p.edad }}</td>

                                    <td style="width: 0.5%;">
                                        <button   (click)="edit(p.idPersona)"
                                            class="btn btn-success btn-sm float-end">Editar</button>

                                    </td>
                                    <td style="width: 0.5%;">
                                        <button [routerLink]="['/Ver-Persona', p.idPersona]"
                                            class="btn btn-warning btn-sm float-end">Detalles</button>
                                    </td>
                                    <td style="width: 0.5%;">
                                        <button (click)="eliminarPersona (p.idPersona)"
                                            class="btn btn-danger btn-sm float-end">Eliminar</button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                       
                    </div>
                    <div class="card-header " *ngIf="persona.length == 0" class="row mt-5">
                        <h1>
                            No hay registros para mostrar o el servidor no funciona

                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Cargando.. </p></ngx-spinner>