<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <img class="img-fluid" src="./assets/Colibri.jpg" height="50%" width="60%" />
            <div class=" col-md-4">
              <div class=" card card-user">
                <div class=" card-body">
                  <p class=" card-text"></p>
                  <div class=" author">
               
         
                    <div class=" block block-four"></div>
                    <a href="javascript:void(0)">
                      <img class="img-fluid" alt="..." class=" avatar" src="assets/anima.gif" />
        
                      <h3 class=" title">Bienvenido al Sistema Nido FAC</h3>
                    </a>
                
                  </div>
                  <div class=" card-description">
                    El sistema fue realizado para el registro de personas que se encuentren o hayan 
                    entrado a la Fundacion Alas del Colibri, con el fin de gestionar toda
                    la informacion de la mejor manera posible. 
                  </div>
                </div>
                <div class=" card-footer">
                  <div class=" button-container">
                    <button class=" btn btn-icon btn-round btn-facebook" href="https://www.facebook.com/AlasdeColibriFundacion" >
                      <i class=" fab fa-facebook"> </i>
                    </button>
                    <button class=" btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
                      <i class=" fab fa-twitter"> </i>
                    </button>
                    <button class=" btn btn-icon btn-round btn-google" href="javascript:void(0)">
                      <i class=" fab fa-google-plus"> </i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>