<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <img src="./assets/Colibri.jpg" height="50%" width="50%" />
            <div class=" col-md-4">
              <div class=" card card-user">
                <div class=" card-body">
                  <p class=" card-text"></p>
                  <div class=" author">
               
         
                    <div class=" block block-four"></div>
                    <a href="javascript:void(0)">
                      <img alt="..." class=" avatar" src="assets/anima.gif" />
        
                      <h3 class=" title">Bienvenido Al sistema Nido AFC</h3>
                    </a>
                
                  </div>
                  <div class=" card-description">
                    en sistema fue hecho para el registro de personas que hayan
                    entrado al la Fundacion alas del Colibri, con el fin de gestionar
                    la informacion de la mejor manera posible 
                  </div>
                </div>
                <div class=" card-footer">
                  <div class=" button-container">
                    <button class=" btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
                      <i class=" fab fa-facebook"> </i>
                    </button>
                    <button class=" btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
                      <i class=" fab fa-twitter"> </i>
                    </button>
                    <button class=" btn btn-icon btn-round btn-google" href="javascript:void(0)">
                      <i class=" fab fa-google-plus"> </i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>