<div class=" content">
  <div class=" row">
    <div class=" col-12 pr-md-1">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-md-5 px-md-6">
            <img class="img-fluid" src="./assets/Colibri.jpg" height="100%" width="650px" />
            </div>
            <div class=" col-md-7 pr-md-1">
              <div class=" card card-user">
                <div class=" card-body text-center">
                  <div class=" author">
                    <div class=" block block-four"></div>
                    <a href="javascript:void(0)">
                      <img class="img-fluid" alt="..." class=" avatar" src="assets/anima.gif" />

                      <h1 class=" title">Bienvenido al Sistema Nido ACF</h1>
                    </a>

                  </div>
                  <div class=" card-description">
                    <h4>Sistema de registro y gestión de información de usuarias del Nido de Protección ACF.</h4>
                  </div>
                </div>
                <div class=" card-footer">
                  <div class=" button-container">
                    <a class=" btn btn-secondary btn-md btn-round" href="https://www.facebook.com/AlasdeColibriFundacion" target="_blank" >
                      <i class=" fab fa-facebook" style="float:center;"> </i>
                    </a>
                    <a class=" btn btn-success btn-md btn-round" href="https://twitter.com/colibri_andoEc" target="_blank" >
                      <i class=" fab fa-twitter"> </i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "rgba(229,51,16,0.93)" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
