<div class="content">
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <h2>NO TIENES PERMISOS PARA INGRESAR AL SISTEMA</h2>

                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <img src="../../../assets/img/error.JPG" alt=""
                        class="img img-fluid pull-center"  >
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <button class=" btn btn-round btn-success" type="submit" [routerLink]="['/login']">Iniciar Sesión</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "rgba(255,255,255,0.93)" type = "ball-scale-ripple-multiple" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>