<div class=" content">
    <div class=" row">
      <div class=" col-12">
        <div class=" card card-chart">
          <div class=" card-header">
            <div class=" row">
  
                <div *ngIf="persona != undefined">
                    <h3>{{ persona.nombreCompleto }}</h3>
                    <h3>{{ persona.fechaRegistro }}</h3>
                    <h3>{{ persona.barrio }}</h3>
                    <h3>{{ persona.direccion }}</h3>
                  
                </div> 
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>